/* BODY */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CALCULATOR */
.calc-div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin: 50px;

    border-radius: 5px;
    border: 1px solid black;

    width: 300px;
    height: 400px;
    padding: 10px;

    box-shadow: 15px 10px 100px rgb(238, 241, 241);
}


/* OUTPUT */
.calc-output {
    width: 100%;
    font-size: 22px;
    font-family: monospace;
    padding: 5px;

    border-radius: 5px;
}


/* INPUTS */
.calc-inputs-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 250px;

    margin-top: 10px;
}

.calc-inputs-div button {
    width: 50px;
    height: 50px;
    background-color: rgb(43, 211, 226);
    border-radius: 10px;

    margin: 1px;
    border: none;
}

.calc-inputs-div button:hover {
    background-color: yellowgreen;
}

.calc-inputs-div button:active {
    background-color: red;
}